name: Look4Sat CI

on:
  push:
    tags:
      - v**
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Latest Commit
        uses: actions/checkout@v4

      - name: Setup Java environment
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Install build tools
        run: sdkmanager "build-tools;29.0.3"

      - name: Build Release APK
        run: |
          chmod +x ./gradlew
          ./gradlew clean assembleRelease

      - name: Sign APK
        uses: r0adkll/sign-android-release@v1
        id: sign_apk
        with:
          releaseDirectory: app/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.KEY_STORE }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          alias: ${{ secrets.KEY_ALIAS }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
      
      - name: Rename Signed APK
        run: |
          echo "Listing signed APKs for verification:"
          ls -lh app/build/outputs/apk/release
          mv app/build/outputs/apk/release/app-release-unsigned-signed.apk app/build/outputs/apk/release/look4sat.apk


      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: look4sat-apk
          path: app/build/outputs/apk/release/look4sat.apk

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "app/build/outputs/apk/release/look4sat.apk"
          bodyFile: fastlane/metadata/android/en-US/whatsnew/whatsnew-en-US
          token: ${{ secrets.GITHUB_TOKEN }}
